<!--
  ~  Copyright (C) 2019 Alpha Jiang. All rights reserved.
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  ~
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.alphajiang.hyena.ds.mapper.SysPropertyMapper">


    <update id="createSysPropertyTable" flushCache="true">
        create table if not exists t_sys_property (
        id bigint(20) not null auto_increment primary key,
        `key` varchar(128) not null,
        `value` varchar(256) not null default '',
        `enable` boolean not null default true,
        `createTime` timestamp default now(),
        `updateTime` timestamp default now(),
        unique index t_sys_property_key(`key`)
        ) engine=InnoDB default charset=utf8mb4
    </update>

    <insert id="insertOrUpdate" parameterType="io.github.alphajiang.hyena.model.po.SysPropertyPo">
        insert into t_sys_property(key, value, enable, createTime, updateTime)
        values(#{key}, #{value}, #{enable}, now(), now())
        on duplicate key update
        value = #{value},
        enable = #{enable},
        updateTime = now()
    </insert>
    
    <select id="getSysProperty" resultType="io.github.alphajiang.hyena.model.po.SysPropertyPo">
        select * from t_sys_property where key=#{key}
    </select>
</mapper>