<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aj.hyena.mapper.PointRecMapper">

    <insert id="addPointRec" useGeneratedKeys="true" keyProperty="rec.id" keyColumn="id">
        insert into `${tableName}` set
        `pid` = #{rec.pid},
        `total` = #{rec.total},
        `available` = #{rec.available},
        <if test="rec.tag != null">
            `tag` = #{rec.tag},
        </if>
        `expireTime` = #{rec.expireTime}
    </insert>


    <select id="listPointRec" resultType="com.aj.hyena.model.po.PointRecPo">
        select rec.*
        from `${pointTableName}_rec` as rec
        left join `${pointTableName}` as p on rec.pid = p.id
        where 1=1
        <if test="@com.aj.hyena.utils.StringUtils@isNotBlank( param.cusId )">
            and p.cusId = #{param.cusId}
        </if>
        <if test="param.available == true">
            and rec.available > 0
        </if>
        <if test="param.frozen == true">
            and rec.frozen > 0
        </if>
        <if test="param.enable != null">
            and rec.enable = #{param.enable}
        </if>
        <if test="@com.aj.hyena.utils.StringUtils@isNotBlank( param.sk )">
            <bind name="pattern" value="'%' + sk + '%'"/>
            and (
            rec.tag like #{pattern}
            )
        </if>
        <if test="@com.aj.hyena.utils.CollectionUtils@isNotEmpty( param.sorts )">
            <foreach item="sort" collection="param.sorts"
                     open="order by" separator="," close=" ">
                ${sort.columnsString} ${sort.order}
            </foreach>
        </if>
        <choose>
            <when test="param.start != null and param.size != null">
                limit #{param.start},#{param.size}
            </when>
            <when test="param.size != null">
                limit #{param.size}
            </when>
        </choose>
        <if test="param.lock == true">
            for update
        </if>
    </select>


    <update id="updatePointRec" parameterType="com.aj.hyena.model.po.PointRecPo">
        update `${pointTableName}_rec`
        set
        <if test="rec.available != null">
            available = #{rec.available},
        </if>
        <if test="rec.used != null">
            used = #{rec.used},
        </if>
        <if test="rec.frozen != null">
            frozen = #{rec.frozen},
        </if>
        <if test="rec.expire != null">
            expire = #{rec.expire},
        </if>
        <if test="rec.enable != null">
            `enable` = #{rec.enable},
        </if>
        updateTime = now()
        where id = #{rec.id}
    </update>
</mapper>