<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aj.hyena.ds.mapper.PointRecLogMapper">

    <insert id="addPointRecLog">
        insert into `${tableName}` set
        `pid` = #{recLog.pid},
        `recId` = #{recLog.recId},
        `type` = #{recLog.type},
        `delta` = #{recLog.delta},
        `available` = #{recLog.available},
        `used` = #{recLog.used},
        `frozen` = #{recLog.frozen},
        `expire` = #{recLog.expire},
        <if test="recLog.tag != null">
            `tag` = #{recLog.tag},
        </if>
        `note` = #{recLog.note}
    </insert>


</mapper>